name: Build MirrorMirror

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: MirrorMirror                        # Replace with your solution name, i.e. MyWpfApp.sln.

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore the application
      run: dotnet restore
      
    # Build
    - name: Build OSX
      run: dotnet publish -p:PublishSingleFile=true -r osx-x64 -c Release --self-contained true --configuration
      
    - name: Build Windows
      run: dotnet publish -p:PublishSingleFile=true -r win-x64 -c Release --self-contained true --configuration
      
    - name: Build Linux
      run: dotnet publish -p:PublishSingleFile=true -r linux-x64 -c Release --self-contained true --configuration

    - name: Generate release tag
      id: tag
      run: |
        echo "::set-output name=release_tag::UserBuild_$(date +"%Y.%m.%d_%H-%M")"
      
    # Create Release
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        files: |
          MirrorMirror\bin\Release\net7.0\linux-x64\publish\MirrorMirror
          MirrorMirror\bin\Release\net7.0\osx-x64\publish\MirrorMirror
          MirrorMirror\bin\Release\net7.0\win-x64\publish\MirrorMirror.exe
